#artist-name{
    color: rgb(207, 237, 242);
    font-size: 5rem;
    overflow-wrap: break-word;
    overflow: auto;
}   
.mainInfo{
    display: flex;
}
.name-stat{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20rem;
    overflow: hidden;
}
@media (max-width: 768px) {
    .mainInfo{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #artist-name{
        font-size: 2rem;
        text-align: center;
    }
    .name-stat{
        width: 30rem;
    }
}