/* client/src/assets/styles/CardBtn.css */

.play-btn {
    height: 2rem;
    width: 100%;
    background: linear-gradient(135deg, #1e8fff8a, #07e2c15c);
    color: #00ffaa;
    padding: 0.8rem; 
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem; 
    transition: background-color 0.08s ease-out;
    border: none;
    cursor: pointer;
}

.play-btn:hover {
    background: linear-gradient(rgba(89, 18, 196, 0.888), rgba(16, 16, 134, 0.61)); 
    color: #a4a8c6;
    font-weight: bold;
}

/* NEW: Active Playing State */
.play-btn.playing-active {
      background: linear-gradient(rgba(89, 18, 196, 0.888), rgba(16, 16, 134, 0.61));  /* Spotify Green */
    color: white;
    font-weight: bold;
}

.play-btn:focus {
    outline: none;
    border: none;
    box-shadow: 0;
}