.play-btn {
    height: 2rem;
    width: 100%;
    background: linear-gradient(135deg, #1e8fff8a, #07e2c15c);
    color: #00ffaa;
    padding: 0.8rem; /* Reduced padding */
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem; /* Reduced font size */
    transition: background-color 0.08s ease-out;
}

.play-btn:hover {
    background: linear-gradient(rgba(89, 18, 196, 0.888), rgba(16, 16, 134, 0.61)); /* Apply violet color to the play button */
    color: #a4a8c6;
    font-weight: bold;
    cursor: pointer;
}
.play-btn:focus {
    outline: none;
    border: none;
    box-shadow: 0;
}