.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 9px;
}

.logo-symbol img {
  width: 200px; /* Adjust the size as per the logo image dimensions */
  height: auto;
}
