.track-line-card{
    display: flex;
    align-items: center;
    padding: 0.4rem;
    border-radius: 1.9rem;
    align-content: center;
    justify-content: space-evenly;
}
.track-line-card:hover{
    background-color: rgba(164, 197, 223, 0.199);
}
.img-container img {
    width: 3rem;
    height: 3rem;
    border-radius: 0.4rem;

}
.track-line-card p{
   color: rgb(134, 185, 229);
   text-align: center;
   font-family: Arial, Helvetica, sans-serif;
   margin-left: 2rem;  
   font-size: large; 
}
.Track-name{
    width: 18rem;
}
.Track-artists-name{
    width: 29rem;
}
.Duration{
    width: 12rem;
}
.track-play{
    width: 2rem;
    height: 2rem;
    color: rgb(1, 255, 238);
    text-align: center;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.track-play:hover{
    background: linear-gradient(rgba(89, 18, 196, 0.888), rgba(16, 16, 134, 0.61));
    color: #a4a8c6;
    font-weight: bold;
    transition: background-color 0.08s ease-out;
}
.track-rank{
    width: 2rem;
}
.track-rank p{
    margin-left: 0rem;
}
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.track-line-card {
    animation: slideIn 0.3s ease-out;
}
@media (max-width: 768px) {
    .img-container img {
        width: 2rem;
        height: 2rem;
    }
   .Track-artists-name, .Duration {
        width: auto;
        text-align: center;
        display: none;
    }
    p {
        margin-left: 0;
    }
    .track-play {
        width: 1.5rem;
        height: 1.5rem;
        padding: 1rem;
    }
    .track-rank {
     display: none;
    }
    .Track-name{
        width: 7rem;
        
    }
    .Track-name p{
       font-size: 0.8rem;
       margin: 0;
    }
}